@import './fun';

.option-main{
  width: 100%;
  padding: 15px 10px;

  header{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 8px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);

    h3{
      margin: 0;
    }
  }

  section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

    div{
      width: 40vw;
      height: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      i{
        display: block;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
        background: {
          size: 70%;
          position: center;
          repeat: no-repeat;
        }
      }
      p{
        font-size: 0.8rem;
        color: $green;
        margin: 10px 0 0;
      }

      &:nth-child(1){
        i{
          background-image: url('../images/list.png');
        }
      }
      &:nth-child(2){
        i{
          background-image: url('../images/sj.png');
        }
      }
      &:nth-child(3){
        i{
          background-image: url('../images/error.png');
        }
      }
      &:nth-child(4){
        i{
          background-image: url('../images/test.png');
        }
      }
    }
  }
}